.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;
  border: 1px solid black;
  margin: 20px;
}

.listItem {
  margin: 0;
  padding: 20px 15px;
  display: block;
}

.listItem-img {
  width: 100px;
  height: 100px;
}